<div class="invoice-item">
  <p>{{invoice.date}}</p>
  <p class="title">{{invoice.account}}</p>
  <p>{{invoice.name}}</p>
  <p>{{invoice.price}}</p>
  <button *ngIf="!showDetails" (click)="details(invoice.listId)" mat-mini-fab color="primary"><mat-icon>keyboard_arrow_down</mat-icon></button>
  <button *ngIf="showDetails" (click)="details(invoice.listId)" mat-mini-fab color="primary"><mat-icon>keyboard_arrow_up</mat-icon></button>

</div>
<div *ngIf="showDetails">
  <table style="width:80%; border: black solid 1px; margin-left: 5px">
    <tr>
      <th style="width: 25%">Produkt</th>
      <th>Cena</th>
      <th>Ilość</th>
      <th>Rabat</th>
      <th>Suma</th>
    </tr>
    <tr *ngFor="let details of invoiceDetails" >
      <td>{{details.productName}}</td>
      <td>{{details.price}}</td>
      <td>{{details.quantity}}</td>
      <td>{{details.discount}}</td>
      <td>{{details.totalPrice}}</td>
    </tr>
  </table>

</div>
